body {
  background-color: #303030;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a {
  color: #fff;
  text-decoration: none;
}

li {
  list-style-type: none;
}

.bg-container {
  position: relative;
}
.bg-container::before {
  content: '';
  background-size: contain;
  opacity: 0.3;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -99;
}

.bg-container.sephira-wink::before {
  background-image: url('/assets/sephira_closewink.webp');
}
.bg-container.sephira-smile::before {
  background-image: url('/assets/sephira_smile.webp');
}
.bg-container.sephira-surprise::before {
  background-image: url('/assets/sephira_surprise.webp');
}
.bg-container.sephira-upturned::before {
  background-image: url('/assets/sephira_upturned.webp');
}
.bg-container.sephira-yandere::before {
  background-image: url('/assets/sephira_yandere.webp');
}

.content {
  margin-left: 5%;
  margin-right: 5%;
}

.videos__list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.videos__list > li {
  list-style-type: none;
  margin-right: 0.5rem;
  padding: 0.5rem;
  max-width: 15vw;
}

.video__title {
  font-weight: 600;
}

.video__thumbnail {
  position: relative;
}

.video__thumbnail img {
  width: 100%;
  height: auto;
}
.video__thumbnail img[data-src=''] {
  opacity: 0.8;
}

.video__length {
  position: absolute;
  bottom: 0.25rem;
  right: 0;
  padding: 0.25rem;
  background-color: rgba(32, 32, 32, 0.9);
  border-top-left-radius: 3px;
  font-weight: 700;
  font-size: 0.75rem;
}

.video__size {
  float: right;
}

.video__description {
  font-size: 0.8rem;
}

@media screen and (max-width: 1200px) {
  .videos__list > li {
    max-width: 35vw;
  }
}
@media screen and (max-width: 680px) {
  .content {
    margin-left: 0;
    margin-right: 0;
  }
  .videos__list > li {
    max-width: 100%;
  }
}
